.product-list-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #6BCB77;
}
@media (min-width: 768px) {
    .product-list-title {
        font-size: 2rem;
    }
}

.hr-product-list {
    display: block;
    flex: 1;
    margin: 0 30px;
    height: 3px;
    background: #FF6B6B;
  }
.product-list .container {
    height: 100vh
}

.product-list {
    --bs-gutter-x: 1rem;
}

.product-list .card {
    background-color: #6BCB77;
    width: 400px;
    padding: 10px;
    border: 1px solid #eee;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
    .product-list .card {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.product-list .inner-card {
    background: #fff;
    padding: 10px;
    border-radius: 5px
}

.product-list .inner-card .product-image {
    display: flex;
    width: 100%;
    max-height: 212.83px;
    border-radius: 0.25rem;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.product-list .inner-card .short-desc {
    min-height: 48px;
}

.product-list .card-title {
    font-size: 1rem;
    font-weight: bold;
}
@media (min-width: 768px) {
    .product-list .card-title {
        font-size: calc(1.275rem + .3vw);
    }
}

.product-list .card-price {
    font-size: 1rem;
    font-weight: bold;
}
@media (min-width: 768px) {
    .product-list .card-price {
        font-size: calc(1.3rem + .6vw);
    }
}

.product-list .heart {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #beb4aa;
    border-radius: 50%;
    background-color: #eee
}

.product-list .btn-outline-primary:focus,
.product-list .btn-outline-primary:hover {
    color: #fff;
    background-color: #FF6B6B;
    border-color: #FF6B6B;
    box-shadow: none
}

.product-list .btn-primary:focus,
.product-list .btn-primary:hover {
    color: #fff;
    background-color: #6BCB77;
    border-color: #6BCB77;
    box-shadow: none
}

.product-list .btn-primary {
    color: #fff;
    background-color: #6BCB77;
    border-color: #6BCB77;
}

.product-list .btn-outline-primary {
    color: #FF6B6B;
    border-color: #FF6B6B;
}

.btn-load-more {
    background-color: #FF6B6B;
    border-color: #FF6B6B;
    color: #fff;
}

.btn-load-more:hover, .btn-load-more:focus {
    background-color: #FFF;
    border-color: #FF6B6B;
    color: #FF6B6B;
    box-shadow: none;
}

.detail-section .card {
    background-color: #fff;
    padding: 14px;
    border: none
}

.detail-section .demo {
    width: 100%
}

.detail-section ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

.detail-section li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

.detail-section img {
    display: block;
    height: auto;
    width: 100%
}
.detail-section {
    background-color: #EEE;
}

.detail-section .date span {
    font-size: 12px
}

.detail-section .p-ratings i {
    color: #FFD93D;
    font-size: 12px
}

.detail-section hr {
    color: #FF6B6B
}

.detail-section .btn-long {
    padding-left: 35px;
    padding-right: 35px
}

.detail-section .buttons {
    margin-top: 15px
}

.detail-section .buttons .btn {
    height: 46px
}

.detail-section .buttons .cart {
    border-color: #6BCB77;
    color: #6BCB77
}

.detail-section .buttons .cart:hover {
    background-color: #6BCB77 !important;
    color: #fff
}

.detail-section .buttons .buy {
    color: #fff;
    background-color: #6BCB77;
    border-color: #6BCB77
}

.detail-section .buttons .buy:focus,
.detail-section .buy:active {
    color: #fff;
    background-color: #6BCB77;
    border-color: #6BCB77;
    box-shadow: none
}

.detail-section .buttons .buy:hover {
    color: #fff;
    background-color: #6BCB77;
    border-color: #6BCB77
}

.detail-section .buttons .wishlist {
    background-color: #fff;
    border-color: #FF6B6B
}

.detail-section .buttons .wishlist:hover {
    background-color: #FF6B6B;
    border-color: #FF6B6B;
    color: #fff
}

.detail-section .buttons .wishlist:hover i {
    color: #fff
}

.detail-section .buttons .wishlist i {
    color: #FF6B6B
}

.detail-section .comment-ratings i {
    color: #FFD93D
}

.detail-section .followers {
    font-size: 9px;
    color: #4D96FF
}

.detail-section .store-image {
    width: 42px
}

.detail-section .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px
}

.detail-section .bullet-text {
    font-size: 12px
}

.detail-section .my-color {
    margin-top: 10px;
    margin-bottom: 10px
}

.detail-section label.radio input:checked+span {
    color: #fff;
    position: relative
}

.detail-section label.radio input:checked+span::before {
    opacity: 1;
    content: '\2713';
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 4px
}

.detail-section .card-body {
    padding: 0.3rem 0.3rem 0.2rem
}